:root {
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 28%, 92%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */
h1 {
    color: var(--black);
    font-family: "Fraunces", serif;
    line-height: 1;
    margin: .5em 0;
}

p {
    color: var(--grey);
    line-height: 1.5;
}

.type {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.price {
    color: var(--green-500);
    font-family: "Fraunces", serif;
    font-size: 2rem;
}
.strike {
    text-decoration: line-through;
    font-size: 1rem;
    color: var(--grey);
}

.btn {
    color: var(--white);
}

/* Button */
.btn {
    all: unset;
    background-color: var(--green-500);
    color: white;
    text-align: center;
    padding: .75em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.cart-icon {
    height: 1rem;
    width: 1rem;
    margin-right: .5em;
}

.btn:hover {
    background-color: var(--green-700);
}

/* Card */
.card{
    background-color: white;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.card-img {
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 20% center;
    width: 100%;
    aspect-ratio: 3/2;
}

.card-info {
    padding: 1.75em 1.5em;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0.75em 0;
}


/* Desktop  Version */
@media (min-width: 640px) {
    .card {
        flex-direction: row;
        align-items: stretch;
        max-width: 700px;
    }

    .card-img, .card-info {
        flex: 1
    }
    .card-img {
        aspect-ratio: auto;
        background-image: url(./images/image-product-desktop.jpg);
    }
    .card-info {
    }
}